In [108]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [109]:
df = pd.read_csv('car-price-data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [110]:
df.columns
df.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [111]:
df2 = pd.DataFrame(df)

In [112]:
df2.rename(columns={'MSRP':'price'}, inplace=True)
np.shape(df2)

(11914, 16)

In [113]:
base = ['Make', 'Model', 'Year', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Vehicle Style',
       'highway MPG', 'city mpg']

In [114]:
df1 = df[base]
df1

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18
...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17

In [115]:
df1.dtypes

Make                  object
Model                 object
Year                   int64
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Vehicle Style         object
highway MPG            int64
city mpg               int64
dtype: object

In [116]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
df1.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg'],
      dtype='object')

In [117]:
df1.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
dtype: int64

In [118]:
df1.engine_hp.fillna(0)

0        335.0
1        300.0
2        300.0
3        230.0
4        230.0
         ...
11909    300.0
11910    300.0
11911    300.0
11912    300.0
11913    221.0
Name: engine_hp, Length: 11914, dtype: float64

In [119]:
df1.engine_cylinders.fillna(0)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: engine_cylinders, Length: 11914, dtype: float64

In [120]:
df1.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
dtype: int64

In [121]:
df1.transmission_type.mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

In [122]:
categorical = ['Make', 'Model', 'Engine Fuel Type', 'Transmission Type', 'Driven_Wheels' 'Market Category', 'Vehicle Size', 'Vehicle Style']
numerical = ['year' ,'engine_hp' ,'engine_cylinders', 'highway_mpg', 'city_mpg']
numerical

['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

In [123]:
df1[numerical].corrwith(df1.highway_mpg)

year                0.258240
engine_hp          -0.406563
engine_cylinders   -0.621606
highway_mpg         1.000000
city_mpg            0.886829
dtype: float64

In [124]:
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
average = df2.price.mean()
average

40594.737032063116

In [125]:
above_average = []
i=0
for i in range(11914):
    if(df2.price[i] >= 40594.73):
        above_average.append('1')
    else:
        above_average.append('0')
len(above_average)

11914

In [126]:
df2.price = above_average
df2.columns

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'price'],
      dtype='object')

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
df_full_train, df_test = train_test_split(df2, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [129]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [130]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [131]:
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

del df_train['price']
del df_val['price']
del df_test['price']

Mutual Score

In [132]:
from sklearn.metrics import mutual_info_score

In [134]:
mutual_info_score(df_full_train.price, df_full_train.make)

0.2387236479073192

In [135]:
mutual_info_score(df_full_train.price, df_full_train.model)

0.46099440756035703

In [137]:
mutual_info_score(df_full_train.price, df_full_train.transmission_type)

0.020883575914971142

In [138]:
mutual_info_score(df_full_train.price, df_full_train.vehicle_style)

0.08339022741593435